/* https://coolors.co/palette/e5d9f2-f5efff-cdc1ff-a594f9-7371fc */

.header {
  background: #7371fc;
  color: #f5efff;
  height: 60px;
}

.header-container,
.container {
  width: 800px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-title {
  font-weight: normal;
  margin: 0;
}

.container {
  margin: 30px auto;
}

.taskList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.taskList-empty {
  padding: 15px;
  background: #f5efff;
}

.taskList-item {
  margin: 0;
  padding: 0;
  display: block;
  padding: 15px;
  width: 100%;
  background: #e5d9f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskList-item:nth-child(2n) {
  background: #f5efff;
}

.taskList-item:nth-child(2n) .taskList-item-button {
  background: #e5d9f2;
}

.taskList-item-input,
.taskList-item-input:checked {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  padding: 0;
}

.taskList-item-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-top: -15px;
}

.taskList-item-input {
  margin-right: 5px;
  width: 40px !important;
  height: 40px !important;
  border: 2px solid #979797;
  border-radius: 1px;
  margin-right: 15px !important;
  position: relative;
  cursor: pointer;
  background-color: white;
  flex-shrink: 0;
  margin-top: 15px;
}

.taskList-item-input::after {
  opacity: 0;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  background-color: #0a0a0a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -75%) rotate(-45deg);
  -webkit-clip-path: polygon(
    0 50%,
    20% 50%,
    20% 80%,
    100% 80%,
    100% 100%,
    0 100%
  );
  clip-path: polygon(0 50%, 20% 50%, 20% 80%, 100% 80%, 100% 100%, 0 100%);
}

.taskList-item-input:checked::after {
  opacity: 1;
}

.taskList-item-value {
  margin-top: 15px;
}

.taskList-item-value.completed {
  text-decoration: line-through;
}

.taskList-item-button {
  width: 40px;
  height: 40px;
  background-color: #f5efff;
  border: none;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  flex-shrink: 0;
}

.taskList-item-button::before,
.taskList-item-button::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #a594f9;
  background: #7371fc;
  top: 50%;
  left: 50%;
  position: absolute;
}

.taskList-item-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.taskList-item-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.addTask-form {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.addTask-input {
  flex-grow: 1;
  display: block;
  border-radius: 3px;
  border: 2px solid #979797;
  padding: 0 10px;
  font-size: 22px;
  height: 60px;
}

.addTask-button {
  height: 60px;
  width: 100%;
  margin-top: 15px;
  border-radius: 3px;
  border: none;
  font-size: 22px;
  background-color: #7371fc;
  color: #f5efff;
  cursor: pointer;
}

@media (min-width: 600px) {
  .addTask-form {
    flex-direction: row;
  }

  .addTask-button {
    width: 100px;
    margin-top: 0;
    margin-left: 15px;
  }
}
